.border-svg{
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;top: 50%;box-shadow: 0px 0px 30px rgba(255,255,225,0.8) inset ;transform: translate(-50%,-50%);
    background: transparent;
    z-index: -1;
}