.nav-header{
    display: flex;
    font-size: 32px;
    background: radial-gradient(ellipse at bottom,rgba(2,155,251,0.88),black);
}
.nav-header .header-left{
    flex: 0 0 5%;
}
.title-wrap{
    flex: 0 0 95%;

}
.nav-title{
   margin: auto;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    width: 23.5rem;
}
.skew-angle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 0 0.5rem/0 0.5rem;
    transform: skew(30deg);
    background: rgba(2,155,251,0.66)
}
.skew-angle.left{
    transform: skew(-30deg);
}
.nav-header{
    display: flex;
}

.skew-angle .blink-block {
    position: relative;
    display: flex;
    margin: 0 !important;
    justify-content: space-between;
    width: 70%;
    height: 50%;
}
.nav-title .title-text{
    display: flex;
    align-items: flex-end;

    font-size: 1rem;
    color: white;
    vertical-align: bottom;
}
.trigger{
    color: white;
}
.blink-block li {
    width: 30%;
    height: 70%;
    background: #fff;
}
